body {
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Titillium Web', sans-serif;
	/*position: relative;*/
}

.profile {
	border-radius: 50%;
	width: 200px;
	border: 3px solid white;
	

}

h1,
h2,
p {
	color: white;
    font-weight: normal;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	margin-bottom: 0;
	font-weight: bold;
}

h2 {
	font-size: 18px;
	margin-top: 0;
}

.bio {
	font-size: 14px;
}

/*
*
*wrapper container
*
*/

.wrapper {
	width: 50%;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:	translate(-50%, -50%);
	position: absolute;
	background-color: rgba( 0,0,0,0.6);
	border-radius: 30px;
	padding: 20px; 

}