body {
	background: url("../img/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Titillium Web', sans-serif;
	/*position: relative;*/

}

.profile {
	border-radius: 50%;
	width: 200px;
	border: 3px solid white;
	margin: 0px auto 0px auto;
	display: block;
}

h1,
h2,
p {
	color: white;
    font-weight: normal;
}

p{
	width: 50%;
	margin: 10px auto;
}

h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	margin-bottom: 0;
	font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    width: 10%;
    border: white;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0; 
}

h2 {
	font-size: 18px;
	margin-top: 0;
}

.bio {
	font-size: 14px;
}

/*
*
*wrapper container
*
*/

.wrapper-in {
	margin: -90px 0px 0px 0px;
	text-align: center;
	background-color: rgba(68,64,115, 0.3);
	padding: 60px 20px 20px 20px; 
	display: block;
	z-index: -1;


}

.wrapper-out {
	border: 2px solid white;
	padding: 0px;
	top: 50%;
	left: 50%;
	transform:	translate(-50%, -50%);
	position: absolute;


}